<form action="/login" role="form" method="post">
<h1>Sign in form</h1>
<input type="text" name="username" id="inputEmail" placeholder="username" required>
<input type="password" name="username" id="inputPassword" placeholder="password" required>
<button type="submit">log in</button>
</form>
