<form action="/signup" role="form" method="post">
<h1>Sign Up form</h1>
<input type="text" name="name" placeholder="enter your name">
<input type="text" name="username" placeholder="enter your username">
<input type="password" name="password" id="inputPassword" placeholder="enter your password">
<button type="submit">log in</button>
</form>
